{{#each actionArr}}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">[{{@index}}]{{this.action}}</h5>
        <p class="card-text">{{> sensor sensorArr=this.nextState}}</p>
    </div>
</div>
{{/each}}