<table class="table table-bordered table-sm table-striped" style="border: 1;">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Actions</th>
            <th scope="col">Sensors</th>
        </tr>
    </thead>
    {{#each stateData}}
    <tr>
        <td>
            <span>
                {{@index}}
            </span>
        </td>
        <td>
            <span>
                {{this.timestamp}}
            </span>
        </td>
        <td>
            <span>
                {{> action actionArr=this.actions}}
            </span>
        </td>
        <td>
            <span>
                {{> sensor sensorArr=this.sensors}}
            </span>
        </td>
        </div>
    </tr>
    {{/each}}
</table>